<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">

        <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/normalize.css">
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/skeleton.css">
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/main.css">
        <script src="{{ $.Site.BaseURL }}js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        {{`<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->` | safeHTML}}

            <div id="eyecatch" class="container">
                <div class="heading">
                    {{ with .Site.Params.Eyecatch }}
                      <a href="{{ $.Site.BaseURL }}">
                        {{ . }}
                      </a>
                    {{ end }}
                </div>

                <div class="heading-links">
                  <div class="heading-links-item" id="top-link">
                    <a href="{{ $.Site.BaseURL }}">Top</a>
                  </div>
                  {{ if .Data.Pages }}
                  <div class="heading-links-item" id="post-link">
                    <a href="{{ $.Site.BaseURL }}post">Blog</a>
                  </div>
                  {{ end }}
                  <div class="heading-links-item" id="social-link">
                    {{ partial "socials.html" . }}
                  </div>
                </div>
            </div>
            <div class="content-container">
